body {font-family: Arial,sans-serif,Helvetica,Verdana; width:100%; margin: 0px; padding: 0px;}
table#logo {background-color: #0FD1BA}
table.board {font-size: 10pt; white-space: nowrap;}
hr.board {color: #CEFCE4;}
td.menu {background-color: #CEFCE4; white-space: nowrap;}
td.book {background-color: #CEFCE4; white-space: nowrap; margin: 2pt;}
tr.altmenu {margin: 0; font-size: 11pt; font-weight: bold}
.normal {font-size: 11pt;}
.normalbold {font-size: 11pt; font-weight: bold;}
p.ew1 {margin: 0; font-size: 28pt; font-weight: bold; color: black; white-space:nowrap;}
p.ew2 {margin: 0; font-size: 20pt; font-weight: bold; color: blue; white-space:nowrap;}
.editor {margin: 0.25em 0 0.2em 0; font-size: 12pt; white-space: nowrap;}
p.menu {margin: 5pt 0 0 0; font-size: 11pt; font-weight: bold; white-space: nowrap;}
p.menutop {margin: 0; font-size: 11pt; font-weight: bold; white-space: nowrap;}
p.menutopcenter {margin: 0; text-align: center; font-size: 11pt;
  font-weight: bold; white-space: nowrap;}
p.submenu {margin: 0 0 0 5pt; font-size: 9pt; white-space: nowrap;}
p.altmenu {margin: -1pt 0 0 0; font-size: 10pt; font-weight: bold; text-align: center;
  background-color:  #CEFCE4; line-height: 140%}
p.widemenu {margin: 5pt 0 0 0; font-size: 11pt; font-weight: bold;
  text-align: center; width:100%; background-color:  #CEFCE4; line-height: 140%;
  white-space:nowrap; }
p.newletter {margin-top: 9pt}
p.note {margin: 6pt 0 0 0; font-size: 9pt; width: 100%}
p.note2 {margin: 6pt 0 0 0; font-size: 9pt;}
p.note3 {margin: 6pt 0 0 2em; font-size: 9pt;}
p.book {margin: 8pt 0 8pt 0; text-align: center}
p.justify {text-align: justify}
p.bjustify {text-align: justify; font-weight: bold}
p.bold {font-weight: bold}
p.main {font-weight: normal; font-size: 11pt}
p.mainj {font-weight: normal; font-size: 11pt; text-align: justify}
p.history {font-size: 9pt; font-weight: bold}
a {text-decoration: none; color: blue}
a:hover {color: blue; background: #0FD1BA}
a.nyi {color: gray}
a.quad {margin-left: 12pt}
span.quad {margin-left: 12pt}
a.quadcur {margin-left: 12pt; color: white; background: blue}
span.quadcur {margin-left: 12pt; color: white; background: blue}
a#wsnormal {word-spacing: normal}
a.cur {color: white; background: blue}
a#shiftcur {margin-left: 12pt; color: white; background: blue}
.na {color: red}
.note {width: 100%}
.booklist  {width: 100%}
.fixedwidth  {width: 100%}
ol.index {list-style-type:none; margin-left:12pt; text-indent:-12pt}
ul.reflist {list-style:square}
ul.reflist li {margin: 3pt 0 0 0}
ul.booklist {list-style:disc;}
ul li {margin: 6pt 0 0 0}
ul li.book {margin: 3pt 0 0 0}
.hangindent {margin: 0 0 0 12pt; text-indent:-12pt}
.math {font-family: times; font-size: 110%; font-weight: bold;
       white-space: nowrap; margin-left: .2em;
       letter-spacing: 0.05555em; word-spacing:-0.11111em}
.nmath {font-family: times; font-size: 110%; font-weight: normal;
       white-space: nowrap; margin-left: .2em;
       letter-spacing: 0.05555em; word-spacing:-0.11111em}
.bmath {font-family: times; font-size: 110%; font-weight: bold;
       white-space: nowrap; margin-left: .2em;
       letter-spacing: 0.05555em; word-spacing:-0.11111em}
.int {font-family: times; font-size: 150%; font-weight: normal;}
.intsup {font-size: 275%; margin-left: 0.02em;}
.intsub {font-size: 230%; margin-left:-0.27em;}
.intsupfont {font-size: 42%;}
.intsubfont {font-size: 50%;}
span.mu {margin-left: 0.05555em;}
span.spl {margin-left: 0.16667em;}
span.spr {margin-right: 0.16667em;}
span.spb {margin-left: 0.16667em; margin-right: 0.16667em;}
acronym {border-bottom: dashed blue 1px; cursor: help;}