@CHARSET "UTF-8";
.thead td{
  font-size:24px;
  text-align:center;
  color:#FFF;
  background:rgb(97,172,236);
  padding:20px 50px;
}
.tfoot td{
  font-size:18px;
  padding:10px;
  text-align:center;
}
.tbody_tp td{
  text-align:center;
  font-size:18px;
  padding:20px;
  color:rgb(223,6,6);
}
.tbody_tp td>span{
  margin-right:5px;
  margin-left:20px;
}
.tbody_tp td>input{
  text-align:center;
}
@media only screen and (max-width:850px){
  .tablePt{
    margin-top:20px;
  }
  .thead td{
    font-size:16px;
    padding:5px auto;
  }
  .tfoot td{
    font-size:12px;
  }
  .tbody_tp td{
    font-size:14px;
    padding:3px 5px;
  }
  .tbody_tp td input{
    margin:5px auto;
  }
  .tbody td:nth-child(1){
    text-align:right;
    padding-right:2px;
    font-weight:bold;
  }
  .tbody td:nth-child(1) p{
    font-size:12px;
    font-weight:500;
    color:#000;
  }
}
.tbody{
  text-align:center;
}
.tbody td:nth-child(1){
  text-align:right;
  padding-right:20px;
  font-weight:bold;
  font-size:18px;
}
.tbody td:nth-child(1) p{
  font-size:14px;
  font-weight:500;
}
.tbody td:nth-child(2){
  text-align:left;
  padding:5px 5px 5px 20px;
}
.tbody td>input{
  text-align:center;
  color:rgb(223,6,6);
  height:30px;
}
#reset{
  margin-left:20px;
  font-size:16px;
  color:#000;
}
td{
  border:1px solid rgb(200,200,200);
}